.button{
    background: #F0998D;
    box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.33);
    border-radius: 15px;
    padding: 15px 35px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    transition: color 0.2s ease-in, background-color 0.2s ease-in;

    &:hover{
        background: #DFE8FA;
        color: #F0998D;
    }
}